<beans xmlns= "http://www.springframework.org/schema/beans" 
xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation= "http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--  bean definitions here  -->
<bean id="bd" class="com.telusko.beans.BlueDart"/>
<bean id="ff" class="com.telusko.beans.FirstFlight"/>
<bean id="fe" class="com.telusko.beans.FedEx"/>

<bean id="amazon" class="com.telusko.beans.Amazon"> <!-- Amazon bean tag opened  -->
<!--  <property ref="fe" name="service"></property>  --> <!-- setter dependency injection -->
<constructor-arg ref="ff" name="service"/> <!-- constructor dependency injection -->
<property ref="fe" name="service"/> <!-- setter dependency injection is the default injection when both dependency injection are available -->
</bean> 

</beans>